<div class="input-field">
  <label>
    First name
    <input type="text" [(ngModel)]="selectedUser.firstName"> 
  </label>                 
</div>
<div class="input-field">
    <label>
        Last name
        <input type="text"  [(ngModel)]="selectedUser.lastName"> 
      </label> 
</div>
<div class="input-field">
    <label>
       phone
        <input type="text"  [(ngModel)]="selectedUser.phone"> 
      </label> 
</div>
<div class="input-field">
    <button class="btn btn-primary" (click)="saveUser()">Submit</button> 
    <button class="btn btn-primary">Cancel</button> 
</div>