<div class="input-field">
  <label>
    Name
    <input type="text" [(ngModel)]="selectedBook.name"> 
  </label>                 
</div>
<div class="input-field">
    <label>
        Author
        <input type="text"  [(ngModel)]="selectedBook.author"> 
      </label> 
</div>
<div class="input-field">
    <label>
       Quantity
        <input type="text"  [(ngModel)]="selectedBook.qty"> 
      </label> 
</div>
<div class="input-field">
    <button class="btn btn-primary" (click)="saveBook()">Submit</button> 
    <button class="btn btn-primary">Cancel</button> 
</div>