<div class="" id="" style="width:500px;margin:auto;">
  <h3 class="text-center">Sign Up !</h3>
  <form [formGroup]="myform">
  <div class="form-group">
      <input type="text" formControlName="firstname" class="form-control validation-field" name="FIRSTNAME" style="font-size:12px"
          placeholder="First Name" minlength="4" required>
      <small class="text-danger" *ngIf="myform.get('firstname').touched">
          <span *ngIf="myform.get('firstname').hasError('required')">First Name is required</span>
          <span *ngIf="myform.get('firstname').hasError('minlength')">Minimum of 4 characters</span>
          <span *ngIf="myform.get('firstname').hasError('pattern')">Enter string only</span>
      </small>
  </div>
  <div class="form-group">
      <input type="text" formControlName="lastname" pattern="[a-zA-Z ]*" class="form-control validation-field" name="LASTNAME" style="font-size:12px"
          placeholder="Last Name" minlength="4" required>
      <small class="text-danger" *ngIf="myform.get('lastname').touched">
          <span *ngIf="myform.get('lastname').hasError('required')">Last Name is required</span>
          <span *ngIf="myform.get('lastname').hasError('minlength')">Minimum of 4 characters</span>
          <span *ngIf="myform.get('lastname').hasError('pattern')">Enter string only</span>
      </small>
  </div>
  <div class="form-group">
      <input type="text" formControlName="phonenumber" class="form-control validation-field" name="phonenumber" style="font-size:12px"
          placeholder="Contact Number" minlength="4" required>
      <small class="text-danger" *ngIf="myform.get('phonenumber').touched">
          <span *ngIf="myform.get('phonenumber').hasError('required')">Contact Number is
              required</span>
          <span *ngIf="myform.get('phonenumber').hasError('minlength')">Minimum of 4 characters</span>
          <span *ngIf="myform.get('phonenumber').hasError('pattern')">Please enter only number</span>
      </small>
  </div>
  <div class="form-group">
      <input type="text" formControlName="email" class="form-control validation-field" name="email" style="font-size:12px"
          placeholder="Email address" minlength="4" required>
      <small class="text-danger" *ngIf="myform.get('email').touched">
          <span *ngIf="myform.get('email').hasError('required')">Contact Number is
              required</span>
          <span *ngIf="myform.get('email').hasError('pattern')">Please enter valid Email</span>
      </small>
  </div>
  <div class="form-group">
    <input type="text" formControlName="password" class="form-control validation-field" name="password" style="font-size:12px"
        placeholder="Email address" minlength="4" required>
    <small class="text-danger" *ngIf="myform.get('password').touched">
        <span *ngIf="myform.get('password').hasError('required')">Password Number is
            required</span>
    </small>
 </div>
 <div class="form-group">
    <select  formControlName="type" class="form-control validation-field" name="type" style="font-size:12px">
        <option value="1">Admin</option>
        <option value="2">User</option>
    </select>
    <small class="text-danger" *ngIf="myform.get('password').touched">
        <span *ngIf="myform.get('password').hasError('required')">Password Number is
            required</span>
    </small>
 </div>
  <button class="btn btn-rounded w-100p mb-1" style="background-color:#1a2b4f;  padding: 3px;  font-size:12px;" class="btn btn text-white"
  [disabled]="!myform.valid" (click)="onSubmit()">Submit</button>&nbsp;
  <button class="btn btn-rounded w-100p mb-1" style="background-color:#1a2b4f;  padding: 3px;  font-size:12px;" class="btn btn text-white"
                                    routerLink="/login">Cancel</button>
  </form>
</div>