<div class="d-flex justify-content-center align-items-center w-100 h-100 login-container">
  <div class="col-xl-4 col-md-6 col-10">
      <div class="card border-0 box-shadow rounded-0">
          <div class="card-header d-flex justify-content-center align-items-center border-0 box-shadow">
          </div>
          <div class="card-body text-center pb-1">
              <h2>Login</h2>
              Don't have an account?<a routerLink="/signUp" class="whiteclr transition register"> Sign up now!</a>
              <form [formGroup]="form" (ngSubmit)="onSubmit()" class="text-left mt-4">
                  <div class="form-group">
                      <input type="text" formControlName="username" class="form-control validation-field" name="username" placeholder="Username">                     
                      <small class="text-danger" *ngIf="form.get('username').touched && form.get('username').hasError('required')">username is required</small>                              
                      <small class="text-danger" *ngIf="form.get('username').touched && form.get('username').hasError('username')">Invalid username</small>
                  </div>
                  <div class="form-group">
                      <input type="password" formControlName="password" class="form-control validation-field" name="password" placeholder="Password" autofocus>
                      <small class="text-danger" *ngIf="form.get('password').touched && form.get('password').hasError('required')">Password is required</small>                              
                      <small class="text-danger" *ngIf="form.get('password').touched && form.get('password').hasError('minlength')">Password isn't long enough, minimum of 6 characters</small>
                       <small class="text-danger" *ngIf="loginError">Invalid Credentials.Please try again...</small>
                  </div>
                  <div class="form-group d-flex justify-content-between">
                      <div class="custom-control custom-checkbox">
                          <input type="checkbox" #keepLog  class="custom-control-input" id="login-checkbox">
                          
                          <label class="custom-control-label" for="login-checkbox">Keep me signed in.</label>
                      </div>
                      <a class="transition pull-right" routerLink="/forgotpwd">Forgot password?</a>                     
                  </div>
                  <div class="form-group">
                      <button [disabled]="!form.valid" class="btn btn-block btn-primary" type="submit">Sign in</button>
                  </div>
              </form>
          </div>
      </div>
  </div>
</div>

