<table>
  <tr>
    <th>First name</th>
    <th>Lastname</th>
    <th>email</th>
    <th>phone</th>
    <th>Signup date</th>
    <th>Last login</th>
    <th *ngIf="(loginUSer == '1')">Edit/Delete</th>
  </tr>
  <tr *ngFor="let user of usersData;index as i" >
    <td>{{user.firstName}}</td>
    <td>{{user.lastName}}</td>
    <td>{{user.email}}</td>
    <td>{{user.phone}}</td>
    <td>{{user.signUpdate}}</td>
    <td>{{user.lastLogin}}</td>
    <td *ngIf="(loginUSer == '1')">
      <i class="fa fa-pencil" (click)="goToEdit(user,i)"></i> &nbsp;
      <i class="fa fa-trash" (click)="deleteUser(i)"></i>
    </td>

  </tr> 
</table>
