<table class="table">
  <tr>
    <th>Name</th>
    <th>Author</th>
    <th>Date Published</th>
    <th>Qty of Books Available</th>
    <th  *ngIf="(loginUSer == '1')">Edit/Delete</th>
  </tr>
  <tr *ngFor="let books of booksListData;index as i" >
    <td>{{books.name}}</td>
    <td>{{books.author}}</td>
    <td>{{books.datePublished}}</td>
    <td>{{books.qty}}</td>
    <td  *ngIf="(loginUSer == '1')">
      <i class="fa fa-pencil" (click)="goToEdit(books,i)"></i> &nbsp;
      <i class="fa fa-trash" (click)="deleteBook(i)"></i>
    </td>

  </tr> 
</table>